<div class="auth-wrapper">

  <div class="auth-left">
    <img src="assets/app.png" alt="App Image">
    <h3>QUANTITY MEASUREMENT APP</h3>
  </div>

  <div class="auth-right">

    <div class="auth-tabs">
      <span class="active">LOGIN</span>
      <span (click)="goToSignup()">SIGNUP</span>
    </div>

    <form (ngSubmit)="login()">

      <input [(ngModel)]="form.email" name="email" placeholder="Email">

      <input [(ngModel)]="form.password" name="password" type="password" placeholder="Password">

      <button class="auth-btn">Login</button>

    </form>

    <div class="google-btn">
      <div id="google-btn"></div>
    </div>

  </div>

</div>